.wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: #d8d8d8 0px 5px 5px;
    border-radius: 7px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    justify-items: center;
    align-items: center;
    grid-row-gap: 5px;
    font-family: 'Montserrat', sans-serif;
}

.data-column {
    display: grid;
    background-color:rgb(230, 255, 162);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px rgb(218, 193, 82) solid;
    border-top: 1px rgb(218, 193, 82) solid;
    color: rgb(73, 54, 0);
}

.data_main_head {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data_sub_head {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
}

.data_head_Wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(124, 255, 137);
    grid-column-gap: 5px;
    border-radius: 0px 0px 0px 0px;
    font-size: 1.15rem;
    border-bottom: 1px rgb(102, 189, 102) solid;
    border-top: 1px rgb(102, 189, 102) solid;
    color: #333;
}

.loding {
    display: flex;
    justify-content: center;
    background-color: red;
}
